<head>
    <link rel="stylesheet" href="/css/main.css">
    {{#if conversa}}
        <style>

        </style>
        {{else}}
        <style>
            section{
                display: block;
            }
            main{
                display: none;
            }
        </style>
    {{/if}}
</head>
<body>
<!--



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


     
<script>
    let back = document.querySelector('.back');
    let chatBox = document.querySelector('.chatBox');
    let open = document.querySelector('.open');
    

    back.onclick = function(){
        chatBox.classList.add('hide');
    }
    open.onclick = function(){
        chatBox.classList.remove('hide');
    }
   
    


</script>
</div>-->

    <header>
        <div class="logo">
            <img src="" alt="logo"> <h1>Whatzip</h1>
            
        </div>
        <nav>
            <ul>
                <li>
                    <a onclick="menu_display_false()" href="/app/"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="/app/usuarios"><i class="fa-solid fa-address-book"></i></a>
                </li>
                <li>
                    <a href="/app/minha_conta"><i class="fa-solid fa-gear"></i></a>
                </li>
            </ul>
        </nav>
        <div>
            <form action="/sair" method="post">
                <button type="submit"><i class="fa-solid fa-power-off"></i></button>
            </form>
        </div>
    </header>
        
    <!--SESSÃO ONDE CONTEM AS INFORMAÇÕES QUE IRÃO MUDAR-->
    <section>
        <div class="section_bar">
            <h1>Whatzipps</h1> 
            <button onclick="menu_display()">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </button>
        </div>
        <div class="search_bar">

            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <button><i>icone de busca</i></button>
            
        </div>

        <div class="contatos">
            {{!-- <div class="contato open">
                <div class="msg_img">
                    <img src="/src/img/transferir.jpg" id="img">
                </div>
                <div class="msg_text">
                    <h3>nome</h3>
                    <p>conversa</p>
                </div>
                <div class="msg_hora">
                    <p>10:00</p>
                </div>
            </div> --}}
            {{#if users}}
                {{#each users}}
                    <a href="/app/conversa/{{users_id}}" class="contato">
                        <div class="msg_img">
                            <img src="{{users_img}}" id="img">
                        </div>
                        <div class="msg_text">
                            <h3>{{users_name}}</h3>
                            <p>conversa</p>
                        </div>
                        <div class="msg_hora">
                            <p>10:00</p>
                        </div>
                    </a>
                {{/each}}
            {{/if}}
        </div>
    </section>
                        
        {{#if conversa}}
            <main class="chatBox">
                <div class="contato_ativo">
                     <ion-icon name="arrow-back-outline" class="back"></ion-icon>
                    <div class="contato_img">
                        <img src="{{conversa.users_img}}" id="img">
                    </div>
                    <div class="contato_text">
                        <h3>{{conversa.users_name}}</h3>
                        <p>escrevendo</p>
                    </div>
                    <div>
                        <a href="/app/contato/{{conversa.users_id}}"><p>informaçõs do contato</p></a>
                    </div>
                </div>
                <div class="mensagens">
                        {{#each message}}
                            {{!-- {{#if admin.users_id=msg_remetente_id}} --}}
                                {{!-- <div class="my_msg msg"><p>{{msg}}</p></div> --}}
                            {{!-- {{else}} --}}
                                <div class="your_msg msg"><p>{{msg}}</p></div>
                            {{!-- {{/if}} --}}
                        {{/each}}
                    <!--<div class="my_msg msg"><p>oi</p></div>
                    <div class="your_msg msg"><p>oi</p></div>-->
                </div>

                <div class="contato_input">
                    <input type="text" id="txtMsg" placeholder="Ola..."/>
                    <button id="btn_env_msg"><i>mandar</i></button>
                </div>
            </main>
        {{else}}
            <main class="chatBox"></main>
        {{/if}}        

</body>

{{#if conversa}}
<script src="/socket.io/socket.io.js"></script>
<script>
    var input_msg = document.querySelector('#txtMsg');
    var btn_msg = document.querySelector('#btn_env_msg');
    var div_msg = document.querySelector('.mensagens');
    var id, id_Socket;

    const socket = io()

    socket.on('dados', (U_id, id_socket) =>{
        id = U_id,
        id_Socket = id_socket;
<<<<<<< HEAD
        //console.log(id);
=======
        console.log(id_Socket);
>>>>>>> 45a411f9410b7e42ec42569b7f5f7ddf888463e2
    })

    socket.on('socketEmit', (msg) => {
        var div = document.createElement('div');
        div.classList.add('msg');
        div.innerHTML = `<p>${msg}</p>`
        div_msg.appendChild(div);

        //console.log(msg);
    })
    socket.on('atualizarSockets', (socketUsersID) {
        //var div = document.createElement('div');
        //div.classList.add('msg');
        //div.innerHTML = `<p>${msg}</p>`
        //div_msg.appendChild(div);

        console.log(socketUsersID);
    })

    socket.on('msgServer', (msg, id_msg) => {

        console.log(id_msg)
        var div = document.createElement('div');
        div.classList.add('msg');
        div.innerHTML = `<p>${msg}</p>`
        div_msg.appendChild(div);

        if(id == id_msg){
            div.classList.add('my_msg') 
        }
        else{
            div.classList.add('your_msg') 
        }

        //console.log(`id: ${id} id_U: ${id_msg}`);
    })

    function env_mensage(){
        if(input_msg.value != 0){
            socket.emit('msg', 
                input_msg.value,
                id,
                id_Socket
            );
            input_msg.value = null;
        }
    }
    document.addEventListener("keydown", (event) => {
        event.preventDefault();
    if (event.keyCode === 13)
        env_mensage();
    });
    btn_msg.addEventListener("click", (event) => {
        env_mensage();
    });
</script>
{{/if}}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


     
<script src="/js/MenuMobile.js"></script>