<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="" alt="logo"> <h1>Whatzip</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/app/"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="/app/usuarios"><i class="fa-solid fa-address-book"></i></a>
                </li>
                <li>
                    <a href="/app/minha_conta"><i class="fa-solid fa-gear"></i></a>
                </li>
            </ul>
        </nav>
        <div>
            <form action="/sair" method="post">
                <button type="submit"><i class="fa-solid fa-power-off"></i></button>
            </form>
        </div>
    </header>
        
    <!--SESSÃO ONDE CONTEM AS INFORMAÇÕES QUE IRÃO MUDAR-->
    <section>
        <h1>Whatzipps</h1>

        <div class="search_bar">

            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <button><i>icone de busca</i></button>
            
        </div>

        <div class="contatos">
            {{!-- <div class="contato">
                <div class="msg_img">
                    <img src="/src/img/transferir.jpg" id="img">
                </div>
                <div class="msg_text">
                    <h3>nome</h3>
                    <p>conversa</p>
                </div>
                <div class="msg_hora">
                    <p>10:00</p>
                </div>
            </div> --}}
            {{#if users}}
                {{#each users}}
                    <a href="/app/conversa/{{users_id}}" class="contato">
                        <div class="msg_img">
                            <img src="{{users_img}}" id="img">
                        </div>
                        <div class="msg_text">
                            <h3>{{users_name}}</h3>
                            <p>conversa</p>
                        </div>
                        <div class="msg_hora">
                            <p>10:00</p>
                        </div>
                    </a>
                {{/each}}
            {{/if}}
        </div>
    </section>
                        
    <main>
        {{#if conversa}}
            <div class="contato_ativo">
                <div class="contato_img">
                    <img src="{{conversa.users_img}}" id="img">
                </div>
                <div class="contato_text">
                    <h3>{{conversa.users_name}}</h3>
                    <p>escrevendo</p>
                </div>
                <div>
                    <a href="/app/contato/{{conversa.users_id}}"><p>informaçõs do contato</p></a>
                </div>
            </div>
            <div class="mensagens">
                {{!-- {{#if msg}} --}}
                    {{#each message}}
                        <div class="your_msg msg"><p>{{msg}}</p></div>
                    {{/each}}
                {{!-- {{/if}} --}}
                <!--<div class="my_msg msg"><p>oi</p></div>
                <div class="your_msg msg"><p>oi</p></div>-->
            </div>

            <div class="contato_input">
                <input type="text" id="txtMsg" placeholder="Ola..."/>
                <button id="btn_env_msg"><i>mandar</i></button>
            </div>

        {{else}}   
            <img src="" alt=""> 
        {{/if}}        
    </main> 
</body>

{{#if conversa}}
<script src="/socket.io/socket.io.js"></script>
<script>
    var input_msg = document.querySelector('#txtMsg');
    var btn_msg = document.querySelector('#btn_env_msg');
    var div_msg = document.querySelector('.mensagens');
    var id

    // CASO O EMAIL DA MENSAGEM SEJÁ DIFERENTE DO MEU : RECEBERA A CLASSE YOUR_MSG

    const socket = io()

    socket.on('dados', (U_id) =>{
        id =U_id;
        console.log(id);
    })

    socket.on('socketEmit', (msg) => {
        var div = document.createElement('div');
        div.classList.add('msg');
        div.innerHTML = `<p>${msg}</p>`
        div_msg.appendChild(div);

        console.log(msg);
    })

    socket.on('msgServer', (msg) =>{

        var div = document.createElement('div');
        div.classList.add('msg');
        div.innerHTML = `<p>${msg}</p>`
        div_msg.appendChild(div);

        console.log(msg);
    })

    function env_mensage(){
        if(input_msg.value != 0){
            socket.emit('msg', 
                input_msg.value,
                id
            );
            input_msg.value = null;
        }
    }
    document.addEventListener("keydown", (event) => {
    if (event.isComposing || event.keyCode === 13)
        env_mensage();
    });
    btn_msg.addEventListener("click", (event) => {
        env_mensage();
    });
</script>
{{/if}}