<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="" alt="logo"> <h1>Whatzip</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/app/"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="/app/usuarios"><i class="fa-solid fa-address-book"></i></a>
                </li>
                <li>
                    <a href="/app/minha_conta"><i class="fa-solid fa-gear"></i></a>
                </li>
            </ul>
        </nav>
        <div>
            <form action="/sair" method="post">
                <button type="submit"><i class="fa-solid fa-power-off"></i></button>
            </form>
        </div>
    </header>
    <!--SESSÃO ONDE CONTEM AS INFORMAÇÕES QUE IRÃO MUDAR-->
    <section id="minha_conta">
        <h1>Whatzipps</h1>

        {{#if erros}}
            {{#each erros}}
                <div class="alert alert-danger">{{texto}}</div>
                {{else}}
            {{/each}}
        {{/if}}
        <form id="load_image" action="/alterar/imagem/" method="post">
            <input type="image" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="imagem de usuario">
        </form>
        <form  id="load_text" action="/alterar/{{admin.users_id}}" method="post">
             <label for="User"><p>Nome</p></label>
            <input type="User" name="User" id="" value="{{admin.users_name}}">

            <label for="Email"><p>Email</p></label>
            <input type="email" name="Email" id="" value="{{admin.users_email}}">

            <label for="Pass"><p>Senha</p></label>
            <input type="password" name="Pass" id="" value="{{admin.users_pass}}">

            <button type="submit">alterar</button>
        </form>
        <form action="/deletar/{{admin.users_id}}" method="post">
            <button type="submit">deletar conta</button>
        </form>
    </section>
    <main>
        <img src="" alt="">
    </main>
</body>